/*========================================================
                      Contact Form
=========================================================*/

#contact-form ._placeholder {
  color: #ffffff;
}

#contact-form input[type='text'] {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.17);
  border: 1px solid rgba(192, 200, 159, 0.17);
}

#contact-form .btn-wr {
  background: #ffffff;
  color: #0a3919;
}

#contact-form .btn-wr:hover {
  color: #303F9F;
}
#contact-form .btn-wr:active {
  color: #19903f;
}

#contact-form textarea {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.17);
  border: 1px solid rgba(192, 200, 159, 0.17);
}

#contact-form .empty-message,
#contact-form .error-message {
}

#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
  height: 14px;
  line-height: 14px;
}

/*========================================================
                      Owl Carousel
=========================================================*/
.owl-dots .owl-dot span {
  background: #fff;
}
.owl-dots .owl-dot span:hover {
  background: #808fee;
}
.owl-dots .owl-dot span.active {
  background: #808fee;
}

/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #ffffff;
  color: #989898;
}

h1 {
  color: #ffffff;
}

address {
  color: #ffffff;
}

hr {
  border-bottom: 1px solid #ffffff;
}

.hr-color {
  border-bottom: 1px solid #3d3d3d;
}

.hr-color2 {
  border-bottom: 1px solid #c0c89f;
}

/*=======================================================
                        Components
=========================================================*/
.color1 {
  color: #3d3d3d;
}

.color2 {
  color: #ffffff;
}

.color3 {
  color: #a79e80;
}

.color4 {
  color: #bfb79e;
}

.bg-primary {
  background: #3d3d3d;
}

.fa-twitter,
.fa-google-plus,
.fa-facebook-f,
.fa-rss {
  color: #ffffff;
}

.btn {
  color: #FF4081;
  background: #ffffff;
  color: #0a3919;
}
.btn:hover {
  background: #b3bae8;
}
.btn:active {
  background: #ffffff;
}

.btn_mod1 {
  background: #c7c7c7;
  color: #ffffff;
}
.btn_mod1:hover {
  background: #707070;
}
.btn_mod1:active {
  background: #3d3d3d;
  color: #ffffff;
}

.box blockquote h6, .box blockquote .terms-list dt, .terms-list .box blockquote dt {
  color: #7c7c6b;
}

.box blockquote p, .box blockquote .terms-list dd, .terms-list .box blockquote dd {
  color: #a9a9a0;
}

.wrap {
  color: #ffffff;
}

.wrap_color1 {
  background: #FF4081;
}
.wrap_color1 a {
  color: #FF4081;
}
.wrap_color1 a:hover {
  color: #ffffff;
  background: #ff0d5f;
}
.wrap_color1 a:active {
  background: #d9004a;
}
.wrap_color2 {
  background: #303F9F;
}
.wrap_color2 a {
  color: #303F9F;
}
.wrap_color2 a:hover {
  color: #ffffff;
  background: #242f78;
}
.wrap_color2 a:active {
  background: #182051;
}

.wrap1 {
  background: #303F9F;
}

.wrap2 {
  background: #ffffff;
}
.wrap2_color1 {
  color: #429758;
}
.wrap2_color2 {
  color: #48a543;
}
.wrap2_color3 {
  color: #91b362;
}

.wrap2 p, .wrap2 .terms-list dd, .terms-list .wrap2 dd {
  color: #b2ad9d;
}

.wrap3 {
  background: #ffffff;
}

.wrap3 .time {
  color: #429758;
}

.wrap3 .cnt p, .wrap3 .cnt .terms-list dd, .terms-list .wrap3 .cnt dd {
  color: #b2ad9d;
}

.wrap3 .cnt a.btn {
  background: #FF4081;
  color: #ffffff;
}

.wrap3 .cnt a.btn:hover, .wrap3 .cnt a.btn:active {
  background: #ff0d5f;
}

/*==================      Banner      ====================*/
.banner {
  background: rgba(29, 85, 49, 0.5);
  position: relative;
  color: #ffffff;
}

.lt-ie9 .banner {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#801D5531', endColorstr='#801D5531')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#801D5531', endColorstr='#801D5531');
  zoom: 1;
}

.banner:before {
  border-color: rgba(29, 85, 49, 0.5) transparent transparent transparent;
}

.inline-list li > a.fa-twitter {
  background: #88d0e1;
}
.inline-list li > a.fa-twitter:hover {
  background: #37b0cc;
}
.inline-list li > a.fa-google-plus {
  background: #ff8a8e;
}
.inline-list li > a.fa-google-plus:hover {
  background: #ff242b;
}
.inline-list li > a.fa-facebook-f {
  background: #6982b8;
}
.inline-list li > a.fa-facebook-f:hover {
  background: #3c517f;
}
.inline-list li > a.fa-rss {
  background: #f6cf71;
}
.inline-list li > a.fa-rss:hover {
  background: #f0af11;
}

.index-list {
  color: #ffffff;
}

.index-list li:before {
  color: #ffffff;
}

.questions-list li a:hover {
  color: #FF4081;
}
.terms-list {
  color: #989898;
}

.terms-list dd > a[href^="mailto:"] {
  color: #FF4081;
}

.contact-list dl {
  color: #ffffff;
}

.contact-list dl a:hover, .contact-list dl a[href^="mailto:"]:hover {
  color: #FF4081;
}

.contact-list dd > a[href^="mailto:"] {
  color: #ffffff;
}

.copy {
  color: #7c796f;
}

.copy span:after {
  border-left: 1px solid #d1cdca;
}

.copy a:hover {
  color: #FF4081;
}

.sf-menu > li > a {
  color: #ffffff;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #FF4081;
}
.sf-menu > li.active > a {
  color: #FF4081;
}

.sf-menu ul {
  background: #6445c4;
}

.sf-menu ul > li + li {
  border-top: 1px dashed #ff81ac;
}

.sf-menu ul > li > a {
  color: #ffffff;
}

.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #8bf0a5;
}

.sf-menu ul ul {
  background: #429758;
}

.sf-menu ul ul > li + li {
  border-top: 1px dashed #69bb7e;
}
.sf-menu ul ul > li > a {
  color: #ffffff;
}
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #8bf0a5;
}

.sf-menu > li > ul:before {
  border-color: transparent transparent #6445c4 transparent;
}

.rd-mobilemenu_ul {
  color: #666;
  background: #FFF;
}

.rd-mobilemenu_ul a:hover {
  background: #3d3d3d;
  color: #FFF;
}

.isStuck {
  border-bottom: 1px solid #333333;
}

.toTop {
  color: #fff;
  background: #6445c4;
}

.toTop:hover {
  color: #fff;
  background: #303F9F;
}

.resp-tabs-list li {
  color: #ffffff;
  background: #c7c7c7;
}
.resp-tabs-list li:hover {
  background: #383838;
}

.resp-tabs-list .resp-tab-active {
  background: #3d3d3d;
}


@media (max-width: 767px) {
  .resp-accordion {
    border-bottom: 2px solid #ffffff;
    background: #c7c7c7;
    color: #ffffff;
  }

  .resp-accordion:hover {
    background: #3d3d3d;
  }

  .lt-ie9 .resp-accordion:hover {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3D3D3D', endColorstr='#FF3D3D3D')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3D3D3D', endColorstr='#FF3D3D3D');
    zoom: 1;
  }

  .resp-tab-active {
    background: #3d3d3d;
  }
}

.thumb_overlay {
  color: #ffffff;
}
 
.thumb:hover .thumb_overlay {
  background: rgba(100, 69, 196, 0.85);
}

.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D96445C4', endColorstr='#D96445C4')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D96445C4', endColorstr='#D96445C4');
  zoom: 1;
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  background: #ffffff;
}

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #ffffff;
}